table{
	width: 800px;
	margin-bottom: 0px;
}

table input{
	width: 500px;
	height: 20px;
	margin-left: 40px;
}
table label{
	width: 200px;
	height: 20px;
	margin-left: 40px;
}

table button{
	margin-top: 10px;
	margin-left: 40px;
}